/* Add CSS theme overrides here. */
/* Remove the bottom margin on Trumba spud blocks so there aren't gaps, only main listing on calendar page .node-31 */ 

/*
body.node-31 div.block-trumba-promo-control-spud-block {
    margin-bottom: -1em;
}
body.node-31 div.block-trumba-promo-control-spud-block + div.block-trumba-promo-control-spud-block {
    margin-bottom: 2em;
}
*/
/*.sub-nav li li li a:first-child {padding-left: 6em;} /*indent tertiary pages in the sub menus */
/*.menu-item .is-active{background-color: #f8eecc;} /*highlight the menu item for the page you are on */
/*
div.social-share {
	display: none;
}
*/
/* modify blockquote for SA directory indenting */

/*body.node-426 blockquote {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.44444;
	border-left: 5px solid #ccd4dd;
	margin: inherit;
	padding-left: 1.25em;
	color: #000;
	font-style: normal;
}
img.image-style-staff-highlight{
    display: block; margin-left: auto; margin-right: auto;
    margin-bottom: 10px;
}
*/
